#equationContainer {
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  background-color: limegreen;
  border-radius: 5px;
}

#plus {
  font-size: 14vh;
}

.puppynum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  padding: 10px;
}

#next {
  margin-top: 60px;
  width: 300px;
}

#eqNum {
  font-size: 6vh;
  margin-bottom: 20px;
}

#num1 > div:last-child,
#num2 > div:last-child,
#answer > div:last-child {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 162px;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
}

#num1 > div:first-child,
#num2 > div:first-child,
#answer > div:first-child {
  margin-bottom: 0px;
}
