#countingAutoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 328px;
  width: 420px;
  background-color: limegreen;
  padding-left: 40px;
  padding-right: 70px;
}

#countingButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 328px;
  width: 660px;
  padding: 0px 20px;
  background-color: limegreen;
}

#imgDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 210px;
}
#numDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
}

#num {
  font-size: 14vw;
}
