#countingAutoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 428px;
  width: 540px;
}

#countingButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 428px;
  width: 700px;
}

#imgDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 300px;
}
#numDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
}

#num {
  font-size: 18vw;
}

#numWord {
  font-size: 18px;
}
